/* Globaal */

HTML { margin: 0px; padding: 0px }
BODY, SPAN, TABLE, DIV, FORM, P, H1, H2, H3, A 	{ font-family: verdana, arial, sans-serif; font-size: 10px; color: #f30606; text-decoration: none; }
BODY { background:#f30606; margin:0px; padding:0px;}

/* Links */

.TPayLink {font-size:11px; color:#f30606; text-decoration:none;}
.TPayLink2{font-size:12px; color:#f30606; text-decoration:none;}
.TPayLink:hover {color:#f30606; text-decoration:underline;}

/* Tekst classes */

SPAN.TPayTextTitle { font-size: 12px; font-weight: bold; color: #f30606; }
SPAN.TPayTextRed { font-size: 11px; color: #f30606; font-weight: bold; }
SPAN.TPayTextGrey { font-size: 11px; color: #f30606; font-weight: bold; }
SPAN.TPayTextBold { font-size: 11px; color: #f30606; font-weight: bold; }
SPAN.TPayTextNormal { font-size: 11px; color: #f30606; }
SPAN.TPayTextSmall { font-size: 9px; color: #f30606; }
SPAN.TPayTextWhite { font-size: 11px; color: #f30606; }
SPAN.TPayTextPercentage { font-size: 12px; color: #f30606; }
DIV.TPayTextSmall2 { font-size: 9px; color: #f30606; }
DIV.TPayTextNormal2 { font-size: 11px; color: #f30606; }


/* Status */

.TPayStatusBalk {background-image: url(/send/gfx/bg-status.jpg);} /* formaat: 19x13px  */
.TPayStatusBg {background-image: url(/send/gfx/bg-statusbalk.jpg); background-repeat: repeat-x;} /* formaat: 323x62px */

/* Knoppen */

.TPayButton { font-style: normal; font-variant: normal; font-weight: normal; }

/* Tekst invoer */

.TPayInputText { font-style: normal; font-variant: normal; font-weight: normal; }
.TPayInputTextSmall { font-style: normal; font-variant: normal; font-weight: normal; }

/* Taalkeuze pulldown */

SELECT.TPayLangPulldown { height: 15px; width: 100; margin: 0px; padding: 0px; border: 1px solid#f30606; vertical-align: middle; font-family: verdana, arial, sans-serif; font-size: 10px; color: #253101; }
